<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qyhlp.mapper.UserMapper">
    <!--int insertUser();-->
    <insert id="insertUser">
        insert into t_user values(null,'zhangsan','123',23,'women','1234@gmail.com')
    </insert>

    <update id="updateUser">
        update t_user set username = "lisi" where id = 4;
    </update>

    <delete id="deleteUser">
        delete from t_user where id = 5;
    </delete>

    <select id="getUserById" resultType="com.qyhlp.po.User">
        <!-- reslutType :字段名属性一致，resultMap：字段名属性名不一致" -->
        select * from t_user where id = 3;
    </select>

    <select id="getAllUser" resultType="com.qyhlp.po.User">
        select * from t_user;
    </select>
</mapper>